.outer-pokedx{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 5px;
   
}
a:visited{
 color: #fff;  
 text-decoration: none; 
}
body{
    color: aliceblue;
    background-color: #303030;
}